*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
}

.navbar{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.navlink{
    text-decoration: none;
    font-size: 1.4rem;
    color:rgba(0, 0, 00, 0.7);
    margin-right: 1rem;

}

.home-container{
    height: 100vh;
    background: #32a8c8;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 6rem;
    color: white;
    font-weight: 300;
}
.intro{
    font-size: 1.2rem;
    color:white;
    font-weight: 300;
    min-height: 2;
}

.social{
    padding: 3rem; 

}

.icon{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
}

.icon:hover{
    color: black;
}

.btn{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
}

.btn:hover{
    color: black;
    background-color: white;
}

/* about me */
.about{
    background-color: rgb(236, 236, 236);
}
.about_cont{
    max-width: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-template-areas: 
    "dp title"
    "dp info"
    "dp btn";
}

.center{
    display:flex;
    justify-content: center;
    align-items: center
}

.dp_cont{
    grid-area: dp;
}

.dp{
    width: 260px;
    border-radius: 50%;
}

.sect_title{
    grid-area: title;
}

.abt_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 400;
}
.about_para{
    grid-area: info;
}

.abt_para{
    font-size: 20px;
    text-align: center;
}

.resum_btn{
    grid-area: btn;
}

.res{
    margin: 20px;
    padding: 15px 40px;
    font-size: 20px;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 5px;
}

.res:hover{
    background-color: rgb(98, 98, 98);
    color: white;
}

/* project section */
.projects{
    
}

.project_cont{

}

.proj_sect_title{
    padding: 30px;
}

.proj_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_cont{
    max-width: 900px;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.card{
    transition: all 0.2s linear;
    box-shadow: 0px 0px 10px 3px rgb(197, 197, 197);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
}

.card:hover{
    transform: translateY(-10px);

}

.card_title{
    background-color: rgb(61, 61, 61);
    color: white;
    border-bottom: 5px solid rgb(36, 204, 255);
    font-size: 18px;
    padding: 10px;
}

.card_desc{
    text-align: center;
}

.github{
    width: fit-content;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.skills-container .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 300;
}

.skills-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.skill-bar{
    width:80%;
}

.skill-name{
    font-size: 1.25rem;
    color: ;
}
.skill-value{
    height: 20px;
    width: 100%;
}

@media only screen and (max-width:800px){
    .navlink{
        font-size: 1.2rem;
    }
    .home-container{
        padding: 0px 10px;
    }
    .mane{
        font-size: 3rem;
    }
    .intro{
        font-size: 0.8rem;
    }
    .social{
        padding: 1rem;
    }
    .social a i{
        font-size: 2.2rem;
    }
    .about_cont{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "info"
        "btn";
    }
    .dp{
        display: none;
    }

    .skills-wrapper{
        grid-template-columns: 1fr;
    }
}


