* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-padding-top:60px;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  margin-right: 1rem;
}

.brand {
  font-size: 1.8rem;
  color: #363636;
}

.fixed-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.name {
  font-size: 6rem;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home-container {
  background: #32a8c8;
  /* background: rgb(138, 43, 226); */
  padding: 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.introduction {
  font-size: 1.4rem;
  /* color:white; */
  font-weight: 300;
  min-height: 2.5rem;
}

.social {
  padding: 3rem;
}

.socialicons {
  color: white;
}

.socialicons,
.socialicons:hover {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 4px;
  transition: all 0.5s;
}

.socialicons:hover {
  color: black;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.562);
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn {
  display: inline-block;
  font-weight: 400px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ffffff;
}

/* about me */
.about {
  max-height: 500px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img title"
    "img intro"
    "img resume-btn";
}
.about_container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 112, 219);
}

.title {
  color: black;
  text-align: center;
  font-size: 50px;
  grid-area: title;
}

.intro {
  color: #000000;
  text-align: center;
  font-size: 22px;
  grid-area: intro;
  padding: 0px 25px 0px 0px;
}

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.dp {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.dp img {
  height: 300px;
  border-radius: 100%;
}

/* .sect_title {
  grid-area: title;
} */

/* .abt_title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 400;
} */
/* .about_para {
  grid-area: info;
} */

/* .abt_para {
  font-size: 20px;
  text-align: center;
} */

.resume-btn-container {
  display: flex;
  justify-content: center;
}

.resume-btn {
  /* margin-top: 30px; */
  border: 1px solid #343a40;
  border-radius: 10px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  height: 60px;
  font-size: 20px;
  grid-area: btn;
}

.resume-btn:hover {
  /* background-color: rgb(98, 98, 98); */
  background-color: #343a40;
  color: white;
}

/* project section */
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects-container {
  background-color: #42c6eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 3rem;
}

.projects-container .title {
  font-size: 5rem;
  font-weight: 300;
}

.card {
  box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.25);
  min-width: 300px;
  max-width: 500px;
  min-height: 250px;
  margin: 10px;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-10px);
}

.project-title {
  padding: 10px;
  height: 20%;
  font-size: 18px;
  color: #ffffff;
  border-bottom: solid 4px #7934d3;
  background-color: #343a40;
  text-align: center;
}
.project-info {
  padding: 0px 20px;
  font-size: 1.1rem;
}

/* .card_cont {
  max-width: 900px;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
} */

/* .card_title {
  background-color: rgb(61, 61, 61);
  color: white;
  border-bottom: 5px solid rgb(36, 204, 255);
  font-size: 18px;
  padding: 10px;
} */

/* .card_desc {
  text-align: center;
} */

.github {
  cursor: pointer;
  width: fit-content;
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.github:hover {
  background-color: #343a40;
  color: white;
}

.skills-container .title {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 300;
}

.skills-container {
  padding-bottom: 50px;
  background-color: #ffffff;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
}

.skills {
  margin-top: 2rem;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* grid-template-columns: 1fr 1fr;
  place-items: center; */
}

.skill-bar {
  width: 80%;
}

.skill-bar .skill-name {
  font-size: 1.25rem;
  color: #000000;
  font-weight: 300;
}

progress[value] {
  height: 20px;
  width: 100%;
}

.contact-me {
    background-color: #ffffff;
    color: #212529;
    padding: 40px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}

.contact-me .title {
    font-style: 4rem;
    font-weight: 300;
}

.contact-me .info {
    max-width: 90%;
    font-size: 1.25rem;
    text-align: center;
}

.contact-me .credits {
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
    .navbar {
        justify-content: center;
    }
    .nav-link {
        font-size: 1.2rem;
    }

    .home-container {
        padding: 0 10px;
    }

    .home-container .name {
        font-size: 3rem;
    }

    .introduction {
        font-size: 0.8rem;
    }

    .socials {
        padding: 1rem;
    }

    .socials a i {
        font-size: 2.2rem;
    }

    .about {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "intro"
            "resume-btn";
    }
    .about .title {
        margin-bottom: 1rem;
    }
    .dp {
        display: none;
    }
    .title {
        font-size: 30px;
    }
    .intro {
        font-size: 15px;
    }

    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contact-me {
        margin-top: 3rem;
    }
    .contact-me .credits {
        text-align: center;
    }
}